
h3.tab_head {
	margin : 0px;
  font-size: 14px;
}

.md-toolbar-tools.filled {
    padding: 0px 8px;
}

.fixed-toolbar {
	position: fixed;
}

.top-padded {
	padding-top: 56px;
}

md-list-item.category-list-item {
	padding: 0px 4px;
  margin: 5px;
}

h3.category-label {
	margin: auto
	font-size: 16px;
}

img.category-icon {
	width: 50px;
	height: 50px;
	margin: 4px 8px;
	text-align: center;
}

.fill-height {
    height: 100%;
}

/* FIXME - Remove unused */
#tips-container {
  height: 100%;
  width: 100%;
}

.repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  min-height: 70px;
  margin: 5px;
}

.md-virtual-repeat-container .md-virtual-repeat-offsetter div {
  /* padding-left: 4px; */
}
/*FIXME - Remove unused */


a.list-item-link, a.list-item-link:hover {
    color: rgba(0,0,0,0.87);
    text-decoration: initial;
}

/*
.md-padding-small {
	padding: 4px;
}

img.recipie-icon.md-avatar {
    margin: 4px 4px 4px 4px;
}
*/


img.tip-icon-img {
	width: 90px;
	height : 60px;
    border-radius: 10px;
}

.layout-margin-empty {
	margin: 0px;
}

h4.tip-label {
	font-size: 16px;
  padding: 2px;
  font-weight: normal;
  margin-bottom: 15px;
}

h2.md-flex.title-head {
    margin: 5px;
    font-size: 16px;
}

button.md-icon-button.kuripu-icon {
    padding: 0px;
    margin: 0px;
}

button.md-icon-button.kuripu-icon-cnt {
	margin: 0;
    padding: 0;
}

md-bottom-sheet.md-grid {
    padding-left: 8px;
    padding-right: 8px;
}

md-icon.share-icon {
    height: 36px;
    width: 36px;
}

md-input-container.search-field {
    padding-top: 15px;
}

md-tab-item.md-tab {
    padding: 12px 6px;
}

h3.category-label {
    font-size: 16px;
}

h4.tip-label.unread_true {
    font-weight: bold;
}

div.article-date {
    font-size: 14px;
    padding: 6px 0px 2px 4px;
    color: rgb(132, 127, 127);    
    position: absolute;
    right: 4px;
    bottom: 4px;
}

.md-list-item-text.layout-column {
    min-height: 70px;
    position: relative;
    padding-bottom: 20px;
}

md-icon.sync-icon svg {
    transform-origin: center center;
    animation: doRotate 5s infinite linear;
}

@keyframes doRotate {
  to {
    transform: rotate(360deg); 
  }
}

img.category-menu-icon {
  height: 34px;
  width: 34px;
  margin: 5px;  
}

button.category-menu-label {
    font-size: 16px;
    padding: 0px;
}

div.test-device {
    background-color: #d2c9c9;
    padding: 3px 5px;
}

h4.tip-head {
  padding: 5px;
  margin: 0px;
  text-align: center;  
}

div.post-date {
  padding: 3px 5px;
  color: #8c8a8a;
}