<!-- Toolbar -->
<md-toolbar class="toolbar fixed-toolbar" layout="row" >
    <div class="md-toolbar-tools filled">
        <md-button aria-label="Menu" class="md-icon-button kuripu-icon-cnt" ng-click="toggleNav()">
            <md-icon md-menu-origin class="material-icons kuripu-icon">menu</md-icon>
        </md-button>
        <h2 class="md-flex title-head">{{'app.name' | i18next}}</h2>
        <span flex></span>
        <md-button aria-label="Sync" class="md-icon-button kuripu-icon-cnt sync-icon" ng-click="syncStatus()" ng-if="syncing">
            <md-icon md-svg-src="svg/autorenew.svg" aria-label="Autp Renew" class="kuripu-icon sync-icon"></md-icon>
        </md-button>
        <md-menu>
            <md-button aria-label="Setting" class="md-icon-button kuripu-icon-cnt" ng-click="$mdOpenMenu($event)">
                <md-icon md-menu-origin class="material-icons kuripu-icon">more_vert</md-icon>
            </md-button>
            <md-menu-content width="3" >
                <md-menu-item>
                    <md-button ng-click="share()">Share</md-button>
                </md-menu-item>     
                <md-divider></md-divider>
                <md-menu-item>
                    <md-button ng-click="rateus()">Rate Me</md-button>
                </md-menu-item> 
                <md-divider></md-divider>
                <md-menu-item>
                    <md-button ng-click="feedback()">Feedback</md-button>
                </md-menu-item>     
                <md-divider></md-divider>
                <md-menu-item>
                    <md-button ng-click="disclaimer()">Disclaimer</md-button>
                </md-menu-item>     
            </md-menu-content>
        </md-menu>
   </div>    
</md-toolbar>

<!-- Side NavBar -->
<md-sidenav class="md-sidenav-left md-whiteframe-z2" flex md-component-id="navbar">
  <md-toolbar>
    <h1 class="md-toolbar-tools">Select Category</h1>
  </md-toolbar>
  <md-list>
    <md-list-item ng-repeat="ctgry in homeCtrl.categories track by ctgry.id" ng-if="ctgry.id > 0">
      <img class="category-menu-icon" ng-src="{{ctgry.imageUrl}}"/>
      <md-button aria-label="{{ctgry.code}}"  ng-click="homeCtrl.article(ctgry.id)" class="category-menu-label">{{ctgry.label | i18next}}</md-button>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>  
</md-sidenav>

<!-- Content for tab navigation-->
<md-content class="top-padded">
  <md-list flex>
    <md-list-item ng-repeat= "ctgry in homeCtrl.categories track by ctgry.id" ng-if="ctgry.id > 0" class="category-list-item md-accent" layout-align="center center">
      <div ng-click="homeCtrl.article(ctgry.id)" flex="100" layout="row">
        <img class="md-avatar category-icon" ng-src="{{ctgry.imageUrl}}"/>
        <h3 class="category-label" flex="75" layout-align="center center">{{ctgry.label | i18next}}</h3>
      </div>  
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
  <div ng-if="isTestDevice" flex="" layout="row" class="test-device">
    <div flex="40" layout-align="center center">Tip Count : {{homeCtrl.tipcount}}</div>
    <div flex="60">
      <md-button aria-label="Refresh" class="md-icon-button kuripu-icon-cnt" ng-click="homeCtrl.refresh()">
        <md-icon md-menu-origin class="material-icons kuripu-icon">autorenew</md-icon>
      </md-button>
      <md-button aria-label="Clear" class="md-icon-button kuripu-icon-cnt" ng-click="homeCtrl.clearStorage()">
        <md-icon md-menu-origin class="material-icons kuripu-icon">delete_forever</md-icon>
      </md-button>
      <md-button aria-label="Sync" class="md-icon-button kuripu-icon-cnt" ng-click="homeCtrl.updateStorage()">
        <md-icon md-menu-origin class="material-icons kuripu-icon">update</md-icon>
      </md-button>
    </div>
  </div>


  <div>
    <div id="disclaimer" class="disclaimer-container">
      <md-dialog>
        Show App disclaimer here
        {{app.disclaimer | i18next}}
      </md-dialog>
    </div>
  </div>    
</md-content>



<!--div class="main col-xs-12">

    <nav class="navbar navbar-fixed-top nav-telugu col-xs-12" role="navigation">
      <div class="navbar-header main-header col-xs-12">
        <img id="menu-cntrl" class="menu-control" src="images/menu.png" ng-click="showMenu()"/>
        <div class="head_section col-xs-12">
          <h2  id="main-title" class="main-title col-xs-12">{{ 'TITLE' | translate }}</h2>
        </div>
        <img id="setting-cntrl" class="setting-control" src="images/setting.png" ng-click="showSetting()"/>
      </div>
    </nav>

	<ul id="main-tabs" class="nav nav-tabs col-xs-12 main-tabs">
		<li class="col-xs-4" ng-class="{'active': tab == 1}" ng-click="unreadView()">
			<a class="main-tab-link">{{ 'UNREAD_TAB' | translate }}</a>
		</li>
		<li class="col-xs-4" ng-class="{'active': tab == 2}" ng-click="ctgryView()">
			<a class="main-tab-link">{{ 'CATEGORY_TAB' | translate }}</a>
		</li>
		<li class="col-xs-4" ng-class="{'active': tab == 3}" ng-click="favouriteView()">
			<a class="main-tab-link">{{ 'FAVOURITE_TAB' | translate }}</a>
		</li>
	</ul>


	<div id="main" class="nav-section ui-page-active col-xs-12" data-role="page">

	    <div id="group-unread" ng-if="tab == 1" class="col-xs-12 group">
	      <div ng-if="newtips.length == 0" class="col-xs-12">
	        No New Tips Found
	      </div>  
	      <div class="list-group tip-list col-xs-12" ng-repeat="tip in newtips">
	        <a href="#/tip/{{tip.id}}" class="list-group-item col-xs-12">
	          <div class="tip-listitem-content">
	            <h4 class="list-group-item-heading"><span ng-bind-html="tip.title"></span></h4>
	          </div>  
	          <div class="tip-listitem-icon"> 
	            <p ng-bind-html="tip.content | feedicon" class="list-group-item-text" ></p>
	          </div>  
	        </a>
	      </div>
	    </div>  

	    <div id="group-category" ng-if="tab == 2" class="col-xs-12 group">
			<div ng-repeat="ctgry in categories" class="alert ctgry col-xs-12" role="alert">
			  <img class="ctgryIcon" ng-src="{{ctgry.imageUrl}}"/>
			  <a href="#/tips/{{ctgry.id}}" class="cat_link alert-link">{{ ctgry.code | translate }}</a>
			</div>
	    </div>  

	    <div id="group-favourite" ng-if="tab == 3" class="col-xs-12 group">
	      <div ng-if="favourite.length == 0" class="col-xs-12">
	        No Favourite found
	      </div>  
	      <div class="list-group tip-list col-xs-12" ng-repeat="tip in favourite">
	        <a href="#/tip/{{tip.id}}" class="list-group-item col-xs-12">
	          <div class="tip-listitem-content">
	            <h4 class="list-group-item-heading"><span ng-bind-html="tip.title"></span></h4>
	          </div>  
	          <div class="tip-listitem-icon"> 
	            <p ng-bind-html="tip.content | feedicon" class="list-group-item-text" ></p>
	          </div>  
	        </a>
	      </div>  
	    </div>  

	</div>

</div>

<div id="menu" class="menu">
  <ul class="nav nav-list">
    <li><a href="#/home" onclick="hidePopup()">{{ 'HOME' | translate }}</a></li>         
    <li><a href="#/tips/2" onclick="hidePopup()">{{ 'HEALTH_TIPS' | translate }}</a></li>
    <li><a href="#/tips/1" onclick="hidePopup()">{{ 'BEAUTY_TIPS' | translate }}</a></li>
    <li><a href="#/tips/5" onclick="hidePopup()">{{ 'HOME_REMEDIES' | translate }}</a></li>
    <li><a href="#/tips/4" onclick="hidePopup()">{{ 'COOKING_TIPS' | translate }}</a></li>
    <li><a href="#/tips/3" onclick="hidePopup()">{{ 'HOME_TIPS' | translate }}</a></li>
  </ul>
</div>

<div id="setting" class="setting">
  <ul class="nav nav-list">
      <li><a href="#share" onclick="share()">Share</a></li>
      <li><a href="#rate" onclick="rate()">Rate Me</a></li>
      <li><a href="#feedback" onclick="feedback()">Feedback</a></li>
  </ul>
</div>


<!--div id="main" class="nav-section ui-page-active" data-role="page">
	<div class="alert ctgry" role="alert">
	  <img class="ctgryIcon" src="images/health_tips.png"/>
	  <a href="#/tips/2" class="cat_link alert-link">{{ 'HEALTH_TIPS' | translate }}</a>
	</div>
	<div class="alert ctgry" role="alert">
	  <img class="ctgryIcon" src="images/beauty_tips.png"/>
	  <a href="#/tips/1" class="cat_link alert-link">{{ 'BEAUTY_TIPS' | translate }}</a>
	</div>
	<div class="alert ctgry" role="alert">
	  <img class="ctgryIcon" src="images/home_remedies.png"/>
	  <a href="#/tips/5" class="cat_link alert-link">{{ 'HOME_REMEDIES' | translate }}</a>
	</div>
	<div class="alert ctgry" role="alert">
	  <img class="ctgryIcon" src="images/cooking_tips.png"/>
	  <a href="#/tips/4" class="cat_link alert-link">{{ 'COOKING_TIPS' | translate }}</a>
	</div>
	<div class="alert ctgry" role="alert">
	  <img class="ctgryIcon" src="images/home_tips.png"/>
	  <a href="#/tips/3" class="cat_link alert-link">{{ 'HOME_TIPS' | translate }}</a>
	</div>
</div-->

