<div id="main" class="nav-section ui-page-active" data-role="page">
	<div class="alert alert-info ctgry" role="alert">
	  <img class="ctgryIcon" src="images/health_tips.png"/>
	  <a href="#/tips/2" class="cat_link alert-link">{{ 'HEALTH_TIPS' | translate }}</a>
	  <!--span class="badge badge-info">{{arokyam}}</span-->
	</div>
	<div class="alert alert-info ctgry" role="alert">
	  <img class="ctgryIcon" src="images/beauty_tips.png"/>
	  <a href="#/tips/1" class="cat_link alert-link">{{ 'BEAUTY_TIPS' | translate }}</a>
	  <!--span class="badge badge-info">{{naattu}}</span-->
	</div>
	<div class="alert alert-info ctgry" role="alert">
	  <img class="ctgryIcon" src="images/home_remedies.png"/>
	  <a href="#/tips/5" class="cat_link alert-link">{{ 'HOME_REMEDIES' | translate }}</a>
	  <!--span class="badge badge-info">{{azagu}}</span-->
	</div>
	<div class="alert alert-info ctgry" role="alert">
	  <img class="ctgryIcon" src="images/cooking_tips.png"/>
	  <a href="#/tips/4" class="cat_link alert-link">{{ 'COOKING_TIPS' | translate }}</a>
	  <!--span class="badge badge-info">{{samayal}}</span-->
	</div>
	<div class="alert alert-info ctgry" role="alert">
	  <img class="ctgryIcon" src="images/home_tips.png"/>
	  <a href="#/tips/3" class="cat_link alert-link">{{ 'HOME_TIPS' | translate }}</a>
	  <!--span class="badge badge-info">{{kural}}</span-->
	</div>
</div>

