<div class="main col-xs-12">
	 <!-- Header -->
    <nav class="navbar nav-telugu navbar-fixed-top col-xs-12" role="navigation">
      <div class="navbar-header main-header col-xs-12">
        <img id="menu-cntrl" class="menu-control" src="images/back.png" onclick="history.back();"/>
        <div class="head_section col-xs-12">
          <h2  id="main-title" class="main-title-tips col-xs-12">{{ category.code | translate }}</h2>
        </div>
      </div>
    </nav>

	<!--Body content-->
	<div id="tips-list" class="list col-xs-12">
		<div class="list-group tip-list" ng-repeat="tip in tips">
			<a href="#/tip/{{category.id}}/{{$index}}" class="list-group-item">
				<div class="tip-listitem-content">
					<h4 class="list-group-item-heading"><span ng-bind-html="tip.title"></span></h4>
					<!--span class="feed-date">{{feed.publishedDate |  toLongDate}}</span--> 
				</div>	
				<div class="tip-listitem-icon">	
					<p ng-bind-html="tip.content | feedicon" class="list-group-item-text" ></p>
				</div>	
			</a>
		</div>	
	</div>

</div>	