<!-- Toolbar -->
<md-toolbar class="toolbar" layout="row">
  <div class="md-toolbar-tools filled" data-ng-hide="tipsCtrl.searchmode">
    <md-button aria-label="Menu" class="md-icon-button kuripu-icon-cnt" ng-click="home()">
      <md-icon md-menu-origin class="material-icons kuripu-icon">keyboard_backspace</md-icon>
    </md-button>
    <h2 class="md-flex title-head">{{'app.name' | i18next}}</h2>
    <span flex></span>
    <md-button aria-label="UnFavourite" class="md-icon-button kuripu-icon-cnt" ng-if="!favourites" ng-click="tipsCtrl.viewFavourites()">
      <md-icon md-menu-origin class="material-icons kuripu-icon">favorite_border</md-icon>
    </md-button>
    <md-button aria-label="Favourite" class="md-icon-button kuripu-icon-cnt" ng-if="favourites" ng-click="tipsCtrl.viewAll()">
      <md-icon md-menu-origin class="material-icons kuripu-icon">favorite</md-icon>
    </md-button>
    <md-button aria-label="Search" class="md-icon-button kuripu-icon-cnt" ng-click="tipsCtrl.viewSearch()">
      <md-icon md-menu-origin class="material-icons kuripu-icon">search</md-icon>
    </md-button>
  </div>    
  <div class="md-toolbar-tools filled" data-ng-show="tipsCtrl.searchmode">
    <md-button aria-label="Menu" class="md-icon-button kuripu-icon-cnt" ng-click="tipsCtrl.closeSearch()">
      <md-icon md-menu-origin class="material-icons kuripu-icon">keyboard_backspace</md-icon>
    <!--img src="assets/images/bookmark.png" style="my-img-button" alt="Bookmark"-->
    </md-button>
    <md-input-container md-no-float class="md-accent search-field">
      <input ng-model="tipsCtrl.searchInput" placeholder="Search here" style="color:wheat;">
    </md-input-container>
    <span flex></span>
    <md-button aria-label="Search" class="md-icon-button kuripu-icon-cnt" ng-click="tipsCtrl.search()">
      <md-icon md-menu-origin class="material-icons kuripu-icon">&#xE163;</md-icon>
    </md-button>
  </div>    
</md-toolbar>
<md-content class="fill-height">
    <md-virtual-repeat-container id="tips-container">
      <div md-virtual-repeat="tip in tipsCtrl.tips" md-on-demand="" class="repeated-item" flex="" layout="column" id="anchor{{$index}}">
        <div ng-if="isTestDevice" flex="" class="test-device" layout="row">
            <div flex="10" layout-align="top start">{{$index + 1}}</div>
            <div flex="70" layout-align="top start">{{tip.pts}}</div>
            <div flex="20" layout-align="top end">{{tip.id}}</div>
        </div>
        <div flex="" layout="row">
          <div flex="75" class="md-list-item-text" layout="column">
            <div layout-align="center center">
              <a ng-href="#/tip/detail/{{$index}}" class="list-item-link"><h4 class="tip-label layout-padding layout-margin-empty unread_{{tip.new}}" flex>{{tip.title}}</h4></a>
            </div> 
            <!--div class="article-date" layout-align="end end">{{tip.posttime}}</div--> 
          </div>
          <div layout-align="center center" layout-fill ng-bind-html="tip.content | feedicon" flex="25"></div>
        </div>  
      </div>
    </md-virtual-repeat-container>
</md-content>